image: atlassian/default-image:3

pipelines:
  branches:
    staging:
      - step:
          name: Deploy Staging Environment
          script:
            - mkdir -p ~/.ssh
            - echo "$STAGING_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
            - chmod 600 ~/.ssh/id_rsa
            - ssh-keyscan $STAGING_EC2_HOST >> ~/.ssh/known_hosts
            - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            - unzip awscliv2.zip
            - ./aws/install
            - /usr/local/bin/aws --version
            - rm awscliv2.zip
            - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
            - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
            - aws configure set default.region $AWS_REGION
            - aws s3 cp s3://devops-asistensi/CuidaSalud/integracionMS/staging/.env .
            - apt-get update && apt-get install -y openssh-client
            - scp -r * $EC2_USER@$STAGING_EC2_HOST:/home/$EC2_USER/staging/
            - scp .env $EC2_USER@$STAGING_EC2_HOST:/home/$EC2_USER/staging/
#      - step:
#          name: Run remote commands via ssh
#          script:
            - pipe: atlassian/ssh-run:0.5.0
              variables:
                SERVER: $STAGING_EC2_HOST
                SSH_USER: $EC2_USER
                SSH_HOST: $STAGING_EC2_HOST
                SSH_KEY: $STAGING_SSH_PRIVATE_KEY
                MODE: 'command'
                DEBUG: 'true'
                COMMAND: "ls -la"
#                  cd $REMOTE_PATH
#                  docker compose down
#                  docker compose -f docker-compose_test.yml up --build -d