image: python:3.12

pipelines:
  branches:
    qa:
      - step: *deploy-to-ec2-qa
    staging:
      - step: *deploy-to-ec2-staging
    production:
      - step: *deploy-to-ec2-production

definitions:
  steps:
    - step: &deploy-to-ec2-qa
        name: Deploy to AWS EC2 (QA)
        deployment: qa
        script:
          - *deploy-script-local-build
        variables:
          EC2_USER: $EC2_QA_USER
          EC2_IP: $EC2_QA_IP
          EC2_PRIVATE_KEY: $EC2_QA_PRIVATE_KEY
          REMOTE_PATH: '/home/$EC2_QA_USER/app'
    - step: &deploy-to-ec2-staging
        name: Deploy to AWS EC2 (Staging)
        deployment: staging
        script:
          - *deploy-script-local-build
        variables:
          EC2_USER: $EC2_STAGING_USER
          EC2_IP: $EC2_STAGING_IP
          EC2_PRIVATE_KEY: $EC2_STAGING_PRIVATE_KEY
          REMOTE_PATH: '/home/$EC2_STAGING_USER/app'
    - step: &deploy-to-ec2-production
        name: Deploy to AWS EC2 (Production)
        deployment: production
        script:
          - *deploy-script-local-build
        variables:
          EC2_USER: $EC2_PROD_USER
          EC2_IP: $EC2_PROD_IP
          EC2_PRIVATE_KEY: $EC2_PROD_PRIVATE_KEY
          REMOTE_PATH: '/home/$EC2_PROD_USER/app'

  script: &deploy-script-local-build
    - echo "Deploying to AWS EC2 instance..."
    - apt-get update && apt-get install -y openssh-client
    - echo "Copying repository files to EC2 instance..."
    - pipe: atlassian/scp-deploy:1.3.1
      variables:
        USER: $EC2_USER
        SERVER: $EC2_IP
        KEY_FILE: $EC2_PRIVATE_KEY
        REMOTE_PATH: $REMOTE_PATH
        LOCAL_PATH: '$BITBUCKET_CLONE_DIR' # Copia todo el directorio del repositorio

    - echo "Building and running Docker Compose on EC2 instance..."
    - pipe: atlassian/ssh-run:1.2.0
      variables:
        SSH_USER: $EC2_USER
        SSH_HOST: $EC2_IP
        SSH_KEY: $EC2_PRIVATE_KEY
        COMMAND: |
          cd $REMOTE_PATH
          docker-compose down
          docker-compose up -d --build --force-recreate # Construye la imagen y levanta los contenedores
    - echo "FastAPI application deployed successfully on $BITBUCKET_DEPLOYMENT_ENVIRONMENT!"

  services:
    docker:
      memory: 2048