image: atlassian/default-image:3

pipelines:
  branches:
    staging:
      - step:
          name: Deploy Staging Environment
#           caches:
#             - docker
          script:
            - mkdir -p ~/.ssh
            - echo "$STAGING_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
            - chmod 600 ~/.ssh/id_rsa
            - ssh-keyscan $STAGING_EC2_HOST >> ~/.ssh/known_hosts

            - ssh -o StrictHostKeyChecking=no ubuntu@$STAGING_EC2_HOST "
                if [ ! -d ~/staging ]; then
                  git clone $BITBUCKET_GIT_SSH_ORIGIN staging;
                else
                  cd app-staging && git pull origin staging;
                fi
              "

#             - ssh ec2-user@$STAGING_EC2_HOST "
#                 cd app-staging;
#                 docker compose down || true;
#                 docker compose build;
#                 docker compose up -d;
#               "

