image: atlassian/default-image:3

pipelines:
  branches:
    staging:
      - step:
          name: Deploy Staging Environment
#           caches:
#             - docker
          script:
            - mkdir -p ~/.ssh
            - echo "$STAGING_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
            - chmod 600 ~/.ssh/id_rsa
            - ssh-keyscan $STAGING_EC2_HOST >> ~/.ssh/known_hosts
            # Install AWS CLI
            - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            - unzip awscliv2.zip
            - ./aws/install
            - /usr/local/bin/aws --version
            - echo "$BITBUCKET_GIT_SSH_ORIGIN"
            # Configure AWS credentials
            - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
            - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
            - aws configure set default.region $AWS_REGION
            - aws s3 cp s3://devops-asistensi/CuidaSalud/integracionMS/staging/.env .
            - apt-get update && apt-get install -y openssh-client
            - scp -r . $EC2_USER@$STAGING_EC2_HOST:/home/$EC2_USER/staging/
#             - pipe: atlassian/scp-deploy:1.5.2
#               variables:
#                   USER: $EC2_USER
#                   SERVER: $STAGING_EC2_HOST
#                   SSH_KEY: $STAGING_SSH_PRIVATE_KEY
#                   REMOTE_PATH: '/home/$EC2_USER/staging'
#                   LOCAL_PATH: '.'

#             - ssh ec2-user@$STAGING_EC2_HOST "
#                 cd app-staging;
#                 docker compose down || true;
#                 docker compose build;
#                 docker compose up -d;
#               "

