image: atlassian/default-image:3

pipelines:
  branches:
    staging:
      - step:
          name: Deploy Staging Environment
#           caches:
#             - docker
          script:
            - mkdir -p ~/.ssh
            - echo "$STAGING_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
            - chmod 600 ~/.ssh/id_rsa
            - ssh-keyscan $STAGING_EC2_HOST >> ~/.ssh/known_hosts
            - pwd
            - ls -la
            # Install AWS CLI
            - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            - unzip awscliv2.zip
            - ./aws/install
            - /usr/local/bin/aws --version
            - echo "$BITBUCKET_GIT_SSH_ORIGIN"
            - ssh -o StrictHostKeyChecking=no ubuntu@$STAGING_EC2_HOST "
                set -e
                if [ ! -d ~/staging/.git ]; then
                  rm -rf ~/staging
                  git clone $BITBUCKET_GIT_SSH_ORIGIN staging
                else
                  cd staging
                  git reset --hard
                  git clean -fd
                  git pull origin staging
                fi
              "

#             - ssh ec2-user@$STAGING_EC2_HOST "
#                 cd app-staging;
#                 docker compose down || true;
#                 docker compose build;
#                 docker compose up -d;
#               "

