image: atlassian/default-image:3

pipelines:
  branches:
    staging:
      - step:
          name: Deploy Staging Environment
          script:
#            - echo "Step 1: Add ssh private key"
            - mkdir -p ~/.ssh
            - echo "$STAGING_SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
            - chmod 600 ~/.ssh/id_rsa
            - ssh-keyscan $STAGING_EC2_HOST >> ~/.ssh/known_hosts
            - echo "Step 1: Install AWS CLI"
            - curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            - unzip awscliv2.zip
            - ./aws/install
            - /usr/local/bin/aws --version
            - rm awscliv2.zip
#            - echo "Step 1: Configure AWS credentials"
            - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
            - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
            - aws configure set default.region $AWS_REGION
#            - echo "Step 1: Pull .env file"
            - aws s3 cp s3://devops-asistensi/CuidaSalud/integracionMS/staging/.env .
#            - echo "Step 1: Scp push files to remote host"
            - apt-get update && apt-get install -y openssh-client
            - scp -r * $EC2_USER@$STAGING_EC2_HOST:/home/$EC2_USER/staging/
            - scp .env $EC2_USER@$STAGING_EC2_HOST:/home/$EC2_USER/staging/
